<%- include("partials/header.ejs") -%>

<h1>Bejelentkezés</h1>

<form action="/login" method="POST">
<input type="text" name="username" placeholder="felhasználónév">
<input name="password" type="jelszó">


<button class="btn btn-info">Elküld</button>
</form>